<link rel="stylesheet" href="/assets/css/footer.css">
<footer>
    <div class="footer-container">
     
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  