<link rel="stylesheet" href="/assets/css/header.css">
<header>
    <div class="logo">
      <h1>Codeial</h1>
    </div>
    <nav>
      <ul>
        <% if(locals.user) { %>
          <li>
            <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
          </li>
          <li>
            <a href="/users/signout">Sign Out</a>
          </li>
        <% } else { %>
          <li>
            <a href="/users/signin">Sign In</a>
          </li>
          <li>
            <a href="/users/signup">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </nav>
  </header>
  
  