
<h1 class="topp">
    <!-- <%= title %> -->
    SIGN IN
</h1>


<!-- <h1>This is sign in</h1> -->
<form action="/users/create-session" method="post" >

    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Sign In">

</form>