h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form input[type="text"],
form input[type="password"] {
  width: min-content;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
  outline: none;
  border-color: #555;
}

form input[type="submit"] {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #333;
}
